# Introduction to Matplotlib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
plt.style.available
plt.style.use('seaborn-whitegrid')

In [ ]:
plt.plot();

In [8]:
btc = pd.read_csv("bitstam.csv")
btc.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1657266240,2022-07-08 07:44:00,BTC/USD,21809.04,21809.64,21809.04,21809.64,1.093656,23852.240809
1,1657266180,2022-07-08 07:43:00,BTC/USD,21805.00,21810.74,21805.00,21810.74,0.283317,6179.360404
2,1657266120,2022-07-08 07:42:00,BTC/USD,21805.33,21810.26,21805.33,21810.24,0.863268,18828.084445
3,1657266060,2022-07-08 07:41:00,BTC/USD,21815.93,21819.54,21797.89,21819.54,0.159521,3480.677677
4,1657266000,2022-07-08 07:40:00,BTC/USD,21821.74,21821.74,21807.69,21807.69,0.149416,3258.424569

In [ ]:
closeBTC, dateBTC =btc['close'], btc['date']

In [ ]:
plt.plot(dateBTC,closeBTC)